# Dart & Flutter
.dart_tool/
.packages
build/
.pub-cache/
flutter_*.png
generated_plugin_registrant.*
generated_plugins.*
pubspec.lock

# VS Code
.vscode/

# Android
android/.gradle/
android/app/build/
*.iml
.idea/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Windows
windows/flutter/generated_plugin_registrant.*
windows/flutter/ephemeral/

# Linux
linux/flutter/generated_plugin_registrant.*
linux/flutter/ephemeral/

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/GeneratedPluginRegistrant.*
ios/Flutter/ephemeral/
